In [3]:
import pandas as pd
features = pd.read_csv("C:/Users/rseal/Projects/AI-Credit-Personalization/AI-Credit-Personalization/data/processed/customer_month_features.csv")
features.shape
features.head()

,customer_id,age,tenure_months,income_band,region,risk_score,account_id,open_date,credit_limit,apr,...,payment_rate,delinquency_flag,chargeoff_proxy,spend_lag_1,spend_lag_3_avg,dq_lag_1,dq_rolling_3,high_util_flag,future_3mo_spend,future_chargeoff_flag
0,1,25,109,HIGH,NORTHEAST,678,1,2016-01-19,8528.45,0.218,...,0.6123,0,0,1669.55,NaN,0.0,NaN,0,5455.82,0.0
1,1,25,109,HIGH,NORTHEAST,678,1,2016-01-19,8528.45,0.218,...,0.7118,0,0,1927.42,NaN,0.0,NaN,0,5154.82,0.0
2,1,25,109,HIGH,NORTHEAST,678,1,2016-01-19,8528.45,0.218,...,0.8405,0,0,1905.12,1834.030000,0.0,0.0,0,5138.02,0.0
3,1,25,109,HIGH,NORTHEAST,678,1,2016-01-19,8528.45,0.218,...,0.6655,0,0,1854.69,1895.743333,0.0,0.0,0,5353.80,0.0
4,1,25,109,HIGH,NORTHEAST,678,1,2016-01-19,8528.45,0.218,...,0.7950,0,0,1696.01,1818.606667,0.0,0.0,0,5392.49,0.0

In [4]:
features[[
    "spend",
    "spend_lag_1",
    "spend_lag_3_avg",
    "future_3mo_spend"
]].describe()

               spend    spend_lag_1  spend_lag_3_avg  future_3mo_spend
count  224999.000000  224999.000000    174999.000000     224999.000000
mean     1082.194862    1075.913371      1068.086062       3252.116189
std       384.307289     382.879224       361.892280       1107.644894
min         0.000000       0.000000         0.000000          0.000000
25%       809.545000     804.730000       808.691667       2457.770000
50%      1050.670000    1043.790000      1037.920000       3156.320000
75%      1324.570000    1317.190000      1295.020000       3946.440000
max      2910.320000    2839.260000      2517.930000       7933.230000